.profile{
    margin: 20px auto;
    background-color: rgba(150, 149, 153, 0.493);
    width: 340px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;  
   
}
.avatar{
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.name{
    font-size: 25px;
}
.tag{
    font-size: 18px;
    text-decoration: none;
}
.location{
    font-size: 20px;
}
.stats{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: calc(100%/3);
    border-top: 1px solid rgba(64, 97, 111, 0.719);
    border-right: 1px solid rgba(64, 97, 111, 0.719);
    background-color: rgba(120, 197, 230, 0.719);
}
.stat:last-child{
    border-right: transparent;
}
.label{
    display: block;
    margin: 5px;
    font-size: 13px;
}
.quantity{
    display: block;
    margin: 5px;
    font-size: 18px;
    font-weight: 700;
}